body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.containerHead {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.containerForm {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2em;
}

label {
    font-size: 1.2em;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 768px) {
    .containerForm {
        margin: 10px;
    }
}